.app {
  flex-basis: content;
  // min-width: 300px;
  height: $calc_height;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: #ddd;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.7);

  &:focus, &:active {
    outline: none;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.7);
  }
}