$calc_width: 40rem;
$calc_height: 50rem;
$btn-width: 10rem;
$screen-height: 25%;
$body-height: 75%;

$color-primary: #999;
$color-hover: #666;

$btn_font: 3.5rem;

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
  box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
  box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}